.student {
    border: 2px solid black;
    text-align: center;
    width: 400px;
    box-shadow: 10px 10px 10px;
    margin: 20px auto;
}
.student :hover {
    background-color: lightgray;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 15px 15px 15px;
}